footer.plataforma__footer
  .footer__contenedor.max-container
    a(href="#" class="footer__logo"): img(src="public/img/logo-positivo.svg", alt="Tecsup")
    ul.footer__lista
      li: a(href="#")
         span.fas.fa-envelope
         | info@tecsup.com
      li: a(href="#")
        span.fas.fa-phone-alt
        | Lima (01) 310 9510
      li: a(href="#")
        span.fas.fa-phone-alt
        | Provincia (01) 462 9308
      li: a(href="#")
        span.fas.fa-clock
        | Atención L-V: 08.00 - 20:00
