.mensajes__bandeja.mensajes__desactive
    .mensajes__contenedor.max-container
        .contenedor__input
            input(type="text" name="busqueda" placeholder="Buscar correo").mensajes__busqueda
            span.fas.fa-search
        .mensajes__lista
            a(href="mensaje-4.html").mensajes__item
                img(class="mensajes__img" src="https://images.unsplash.com/photo-1548958921-c5c0fe1b307d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80", alt="")
                .mensajes__contenido
                    span.mensajes__emisor Luisa Garcia Sandoval
                    span.mensajes__asunto Entrega de Certificado de Egresado
                    span.mensajes__cuerpo Estimado alumno, le ha hacemos envio de su certificado
                .mensajes__fecha
                    span.mensajes__dato 3 ene.
            a(href="mensaje-3.html").mensajes__item
                img(class="mensajes__img" src="https://images.unsplash.com/photo-1548958921-c5c0fe1b307d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80", alt="")
                .mensajes__contenido
                    span.mensajes__emisor Luisa Garcia Sandoval
                    span.mensajes__asunto Comprobante de pago de Certificado de Egresado
                    span.mensajes__cuerpo Estimado alumno, se ha comprobado el pago realizado para el proceso de Certificado de Egresado.
                .mensajes__fecha
                    span.mensajes__dato 1 ene.
            a(href="mensaje-2.html").mensajes__item
                img(class="mensajes__img" src="https://images.unsplash.com/photo-1573007974656-b958089e9f7b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80", alt="")
                .mensajes__contenido
                    span.mensajes__emisor Enrique Sanchez Pérez
                    span.mensajes__asunto Inicio de temporada: Ruta Laboral 2021
                    span.mensajes__cuerpo Estimado alumno, le informamos que se han unido 2 instituciones para realizar convenios de carrera.
                .mensajes__fecha
                    span.mensajes__dato 20 dic.
            a(href="mensaje-1.html").mensajes__item
                img(class="mensajes__img" src="https://images.unsplash.com/photo-1582804905556-0605e6433015?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80", alt="")
                .mensajes__contenido
                    span.mensajes__emisor Pedro Merino Chapo
                    span.mensajes__asunto Información sobre convenios institucionales
                    span.mensajes__cuerpo Estimado alumno, le informamos que se han unido 2 instituciones para realizar convenios de carrera.
                .mensajes__fecha
                    span.mensajes__dato 08 dic.