- let NombSitio = "Portal de Estudiantes"
- let Separador = "|"
- let NombPagina = "Estudiante"

- let classActive = "active"
- let mensajesDesactive = ""


//- append config
    - NombPagina = "Inicio"