//--- BACKGROUND PROPERTY

@mixin bg-cont{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

//--- SHADOW

@mixin shadow-dark{
    box-shadow: 0px 8px 40px -12px rgba(137,137,137,0.35);
}

@mixin shadow-color{
    box-shadow: 0px 8px 40px -12px rgba(137,137,137,0.35);
}