:root
{
  --first-color     : #00BDF0;
  --second-color    : #00ABEC;
  --thirty-color    : #6DCCF3;
  --forty-color     : #A9DEF7;
  --light-color     : #fff;
  --dark-color      : #434343;
  --dark-color-alt  : #857D7F;
}

$first-color       : #fbc02d;
$second-color      : #d66332;
$text-dark         : #1f1e1e;
$text-light        : #fff;
$bg-first          : #fbc02d;
$bg-second         : #d66332;
$bg-dark           : #1f1e1e;
$bg-light          : #fff;
$fuente-principal  : 'Raleway', sans-serif;
$fuente-secundaria : 'Roboto', sans-serif;